<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 폼</title>
</head>
<body>
<h1>로그인 폼</h1>
<form action="/signin" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required="required" placeholder="root"><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required="required" placeholder="root"><br>
    <button type="submit">로그인</button>
</form>
</body>
</html>