<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Add Product</title>
  <link rel="stylesheet" type="text/css" href="/css/add_product.css">
</head>
<body>
<h1>Add Product</h1>
<div class="product-form">
  <form th:action="@{/add}" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Product name" required>
    <textarea name="description" placeholder="Product description" rows="5" required></textarea>
    <input type="number" name="price" placeholder="Product price"  required>
    <input type="file" name="image" accept="image/*" required>
    <button type="submit">Add Product</button>
  </form>
</div>
</body>
</html>
