<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>쇼핑몰</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<h1>월요일 백엔드</h1>
<div>
  <div th:if="${session.loggedInUser}">
    <span th:text="${session.loggedInUser.email}"></span>님 환영합니다.
    <a class="logout-button" href="/logout">로그아웃</a>
    <a class="add-product-button" href="/add">상품추가</a>
    <a class="view-cart-button" href="/cart">장바구니 보기</a>
  </div>
  <div th:unless="${session.loggedInUser}">
    <a class="login-button" href="/loginform">로그인</a>
  </div>
</div>
<div class="product-list-wrapper">
  <div class="product-list" th:each="product : ${productList}">
    <div class="product-card" th:onclick="'location.href=\'/product/detail/' + ${product.id} + '\''" style="cursor: pointer;">
      <img class="product-image" th:src="@{'/images/' + ${product.imageName}}" th:alt="${product.name}">
      <h2 class="product-title" th:text="${product.name}"></h2>
      <p class="product-description" th:text="${product.description}"></p>
      <p class="product-price" th:text="'가격 : ₩' + ${product.price}"></p>
      <div th:if="${session.loggedInUser}">
        <form th:action="@{/cart/add/{productId}(productId=${product.id})}" method="post">
          <input type="hidden" name="quantity" value="1" />
          <button type="submit" class="add-to-cart-button">장바구니에 추가</button>
        </form>
      </div>
    </div>
  </div>
</div>